<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIBaseURL</key>
	<string>$(API_BASE_URL)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GoogleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.832211937583-53b0chrmr5bpcbgupmtad4dmfegctu2f</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>$(GOOGLE_CLIENT_ID)</string>
</dict>
</plist>
